<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%= invite_or_pending_btn(user) %> <%= accept_friendship_with_user(user) %> <%= reject_friendship_with_user(user) %>
  </span>
</li>